
<div id="popup-input-{{ task.id }}" class="color" style="display: none;">
  <form action="/change-color/{{ task.id }}" method="POST">
    {% import 'selectize.html' as select %}
    {{ select.js() }}
    {{ select.dropdown(
      name = 'color-' ~ task.id,
      options = [
        {'value': 'tomato', 'label': 'Red'},
        {'value': 'orange', 'label': 'Orange'},
        {'value': 'gold', 'label': 'Yellow'},
        {'value': 'MediumSeaGreen', 'label': 'Green'},
        {'value': 'lightblue', 'label': 'Blue'},
        {'value': 'slateblue', 'label': 'Purple'}
    ],
    selected = task.color
    ) }}
  </form>
</div>

<script>
  $(function(){
  $('#color-{{ task.id }}').on('change', function(){
    const choice = $(this).val();
    console.log('selected:', choice);
    $(this).closest('form').submit();
  });
});
</script>